.container {
  padding-top: 80px;
  padding-bottom: 80px;

  @include lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.heading {
  @include h3-text;

  @include lg {
    @include h4-text;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;

  @include xl {
    grid-template-columns: repeat(3, 1fr);

    & > *:nth-child(n + 7) {
      display: none;
    }
  }

  @include lg {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;

    & > *:nth-child(n) {
      display: block;
    }
  }
}
