.container {
  padding-top: 80px;
  padding-bottom: 80px;

  @include lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.heading {
  @include h3-text;

  @include lg {
    @include h4-text;
  }
}

.subheading {
  margin-top: 10px;
  @include h5-text;

  @include lg {
    @include base-text;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 60px;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
  }

  @include sm {
    grid-template-columns: auto;
  }

  & > *:last-child {
    @include lg {
      display: none;
    }
  }

  & > *:not(:first-child) {
    @include sm {
      display: none;
    }
  }
}
